Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/RuralAustralia/StaticMeshes/Vegetation/Log_L_01/T_Log_L_01_CA.uasset
Content/RuralAustralia/StaticMeshes/Vegetation/Log_L_01/T_Log_L_01_NA.uasset
Content/VigilanteContent/Vehicles/East_IFV_BMP3/Level/East_IFV_BMP3_LTG_BuiltData.uasset
